@font-face {
    font-family: SVN-Gilroy-SemiBold;
    src: url('../fonts/SVN-Gilroy-SemiBold.otf');
}

@font-face {
    font-family: SVN-Gilroy-Bold;
    src: url('../fonts/SVN-Gilroy-Bold.otf');
}

@font-face {
    font-family: SVN-Gilroy-Regular;
    src: url('../fonts/SVN-Gilroy-Regular.otf');
}
  
*, *::before, *::after {
    box-sizing: border-box;
}

.svn-gilroy-semibold {
    font-family: SVN-Gilroy-SemiBold;
} 

.svn-gilroy-bold {
    font-family: SVN-Gilroy-Bold;
} 

.svn-gilroy {
    font-family: SVN-Gilroy-Regular;
} 

body {
    overflow-x: hidden;
}

ul {
    list-style: none; 
    padding-left: 0; 
}

h1.stroke {
    color: white;
    text-shadow:
        -2px -2px 0 orange,  
        2px -2px 0 orange,
        -2px 2px 0 orange,
        2px 2px 0 orange;

}
  
/* 
li.wt::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    background-color: white;
    border-radius: 50%; 
    vertical-align: middle; 
} */

/* li.bl:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    background-color: black;
    border-radius: 50%; 
    vertical-align: middle; 
} */

/* li.bl.text-sm:before {
    content: '';
    display: inline-block;
    width: 3.5px;
    height: 3.5px;
    margin-right: 8px;
    background-color: black;
    border-radius: 50%; 
    vertical-align: middle; 
} */

.bg-img-banner {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.9) 100%),
                url('../img/bg-banner.png') no-repeat center center;
    background-size: cover;
    background-position: center;
}

.gradient-border {
    border: 1px solid transparent;
    border-radius: 8px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.gradient-button {
    display: inline-block;
    text-align: center;
}

.gradient-button span {
    display: block;
    background: linear-gradient(#FF6320, #FFA153); /* Inner gradient */
    border-radius: 24px; /* Adjust based on padding */
    padding: 10px 20px; /* Adjust padding as needed */
    color: white;
    text-align: center;
}

.gradient-button:hover span {
    background: linear-gradient(#2D3955, #6C778E); /* Hover effect */
}

.bg-gradient1 {
    background-color: #6BAC00; background-image: linear-gradient(315deg, #265501 60%, #6BAC00 100%); 
}

.bg-gradient2 {
    background-color: #00AE46; background-image: linear-gradient(315deg, #265501 60%, #00AE46 100%); 
}

.bg-gradient3 {
    background-color: #8E3900; background-image: linear-gradient(315deg, #8E3900 60%, #FF7033 100%); 
}

.bg-gradient4 {
    background-color: #8D1F11; background-image: linear-gradient(315deg, #8D1F11 60%, #FF4B33 100%); 
}

.bg-gradient5 {
    background-color: #8D1F11; background-image: linear-gradient(315deg, #0C2A67 60%, #0151C9 100%); 
}

.bg-gradient6 {
    background-color: #8D1F11; background-image: linear-gradient(315deg, #05283E 60%, #0070C1 100%); 
}

.bg-gradient-marquee {
    background-color: #1F2636; background-image: linear-gradient(315deg, #8695A4 25%, #1F2636 60%); 
}


h1.shadw{
   text-align:center; font:700 50px droid sans; color:white; text-shadow: 1px 1px 0px #FF9900, 0px 2px 0px #FF9900, -1px 1px 0px #FF9900, -2px 0px 0px #FF9900, -1px -1px 0px #FF9900, 0px -2px 0px #FF9900, 1px -1px 0px #FF9900, 2px 0px 0px #FF9900;}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}

.marquee {
    display: flex;
    width: max-content;
}

.marquee-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.collapse-container {
    border: 1px solid #DF6F21;
    padding: 10px;
  }

.collapse-header {
    cursor: pointer;
}

.collapse-content.hidden {
    display: none;
}

.collapse-content {
    padding-top: 10px;
}



.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #D9D9D9;
    border-radius: 4px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 32px;
    background-color: #FF6C28;
}

.banner-par>.swiper-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
}

.banner-par>.swiper-pagination>.swiper-pagination-bullet-active {
    background-color: white;
}

.banner-par>.swiper-pagination::after {
    content: '';
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: 8px; 
    margin-top: 4px;
}

.swiper-button-prev:after {
    display: none;
}

.swiper-button-next:after {
    display: none;
}

.swiper-wrapper {
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
    }
    .swiper-pagination-bullet-active {
        width: 16px;
    }

    .banner-par>.swiper-pagination::after {
        content: '';
        background: #000;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; 
        border-radius: 8px; 
        margin-top: 8px;
    }
}